ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}



a {
   text-decoration: none;
}

.portfolio-button {
    border: none;
}

.hero-button {
    border: none;
}
    
