body {
    font-family:"Roboto", sans-serif
}

.header-logo {
    font-family:" Raleway", sans-serif;
    text-decoration:none;
    font-size: 26px;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
}

.footer-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.hero-title {
    line-height: 1.4;
    font-size: 44px;
    font-weight: 900;
}

.hero-button {
    line-height: 1.88;
    font-size: 16px;
    font-weight: 700;
}

.details-text {
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
}

.footer-item {
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
}

.portfolio-button {
    line-height: 1.6;
    font-size: 16px;
    font-weight: 500;
}

.projects-subtitle {
    line-height: 2;
    font-size: 18px;
    font-weight: 700;
}

.cointaner {
    width: 1200px; 
    padding: 0 15px;
    margin: 0 auto;
}

.hero {
    padding-top: 200px;
    padding-bottom: 280px;
}

.details {
    padding-top: 94px;
}

.team {
    padding-top: 186px;
    padding-bottom: 94px;
}
.footer {
    padding-top: 60px;
    padding-bottom: 161px;
}